.home {
  
}
.home-logo {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    
    .is-mobile & {
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
}