.image-face {
	position: relative;
	width: 100%;
	height: 100%;
	&__img {
		height: 100%;
	}
	&__desc {
		position: absolute;
		top: 0;
		box-sizing: border-box;
		background-color: rgba($color: #ff6B6A, $alpha: .7);
		width: 100%;
		height: 100%;
		padding: 12px;
		opacity: 0;
		transform: translateY(20px);
		transition: transform .3s, opacity .3s;
		
		p {
			font-size: 14px;
			color: #fff4ad;
			margin: 0;

			.hashtag {
				display: inline-block;
				color: #b2ffbd;
			}

			a {
				color: #cbfefd;
				text-decoration: none;
				transition: opacity .3s;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}

	&:hover {
		.image-face__desc {
			opacity: 1;
			transform: translateY(0);
		}
	}
}