.mobile-layout {
	position: relative;
	height: calc(100vh - 40px);
	padding-top: 40px;
	overflow: auto;
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
}

.content-wrapper {

}