.contact {
	padding: 20px;

	font-family: 'retro';
	color: #FFF4AD;
	
	h2 {
		font-size: 28px;
		margin-top: 0;
		color: #cbfefd;
		
		.is-mobile & {
			font-size: 24px;
		}
	}

	img {
		display: block;
		margin: auto;
		height: 220px;
	}
}